@media screen and (max-width: 480px){
    body{
      width:100vw;
    }
    footer{
      width:100%;
    }  
    #botones{
     padding-top: 1.1em;
    }
    .landing-img{
      display: none;
    }
    .texto1p{
      align-content: flex-start;
    }
  } 